<!DOCTYPE html>
<html lang="nl">
  {% include 'partials/head'%}
  <body>
    {% include 'partials/header'%}</h1>
    <main>
      <h2>Kies je Kleding</h2>
      <form action="/resultaat">
        <fieldset aria-label="De kledingstukken die goed passen bij de wat jij hebt geselecteerd">
          <legend>Resultaat</legend>
          {% for kleding in matchingItems %}
            <label>
              <input type="radio" name="kledingstuk" value={{ kleding.beschrijving }} tabindex={{ forloop.index }} aria-label="{{ kleding.beschrijving }} in de kleur {{ kleding.kleur }}">
              {{ kleding.beschrijving }}
            </label>
          {% endfor %}
        </fieldset>
      </form>
    </main>
  </body>
</html> 