<!DOCTYPE html>
<html lang="nl">
  {% include 'partials/head'%}
  <body>
    {% include 'partials/header'%}</h1>
    <main>
      <h2>Kies je Kleding</h2>
      <form action="/kledingOmTeMatchen2">
        <fieldset aria-label="Selecteer een kledingstuk om te matchen">
          <legend>Selecteer {{ clothesToMatchWithType }}</legend>
          {% for kleding in clothesToMatchWith %}
            <label>
              <input type="radio" name="kledingstuk" value="{{ kleding.pastBij }}" tabindex="{{ forloop.index }}" aria-label="{{ kleding.beschrijving }} in de kleur {{ kleding.kleur }}">
              {{ kleding.beschrijving }}
            </label>
          {% endfor %}
        </fieldset>
    
        <input type="submit" value="Submit" aria-label="Druk op deze knop om verder te gaan" tabindex="17">
      </form>
    </main>
  </body>
</html> 